
body{
    margin: 0;
    overflow-x: hidden;
}
.home{
    background-image: url(/bookbackground.jpg);
    height: 81%;
    width: 92%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 10vh;
    background-color: rgba(0,0, 0, 0.6);
    background-blend-mode: darken;
    position: relative;
}

#alchemist{
     height: 80vh;
}
#bornACrime{

    height: 80vh;
    
}

#aboutUs{
    position: absolute;
    bottom: 90px;
    border: none;
    right: 95vh;
    height: 70px;
    width: 30vh;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(248, 218, 183);
    font-size: larger;
    font-weight: bolder;

}
#image{
    height: 25vh;
    width: 20vh;
    border-radius: 50px;
    margin: 20px;
}
.images{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    text-align: center;
}
h1{
    text-align: center;
}

#bornACrimeBlog{
    height: 60vh;
    width: 40vh;
}
@media (max-width: 1024px){
    
    .home{
        flex-direction: column;
    }
    #alchemist{
        width: 100%;
        height: auto;
    }
    #bornACrime{
        width: 100%;
        height: auto;
    }
    .images{
        padding: 0;
    }
}
